<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Admin Login.</h4>
                <input [(ngModel)]="username" type="text" id="name" class="form-control input-sm chat-input" placeholder="Username" />
                <br>
                <input [(ngModel)]="password" type="password" id="mac" class="form-control input-sm chat-input" placeholder="Password" />
                <br>
                <div class="wrapper">
                    <span class="group-btn">     
                <a  class="btn btn-primary btn-md" (click)="login()" >Login</a><br><br>
            </span> For Network access click <a href="/user">here</a><br><br> {{error}}
                </div>
            </div>

        </div>
    </div>
</div>