<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Request Network Access.</h4>
                <input type="text" id="name" class="form-control input-sm chat-input" placeholder="Name" />
                <br>
                <input type="text" id="mac" class="form-control input-sm chat-input" placeholder="MAC Address" />
                <br>
                <div class="wrapper">
                    <span class="group-btn">     
                <a href="#" class="btn btn-primary btn-md" (click)="open($event, item)" >Request</a>
            </span>
                </div>
            </div>

        </div>
    </div>
</div>